<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="content">
        <div class="qna-main-container">
            <h2>내 상담내역 <i class="fas fa-comments"></i></h2>
            <a href="/qna/add" class="btn btn-primary">질문하러 가기</a>
            <a href="/qna/all" class="btn btn-secondary">모든 문의내역</a>

            <div th:each="qna : ${qnaList}">
                <div class="qna-item card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${qna.title}">상담 제목</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="'상담 일자: ' + ${#temporals.format(qna.regDate, 'yyyy-MM-dd HH:mm:ss')}">상담 일자</h6>
                        <p class="card-text" th:text="'상담 내용: ' + ${qna.content}">상담 내용</p>
                        <p class="card-text">
                            <strong>상태:</strong>
                            <span th:text="${qna.answer == null ? '진행 중' : '답변 완료'}"
                                  th:class="${qna.answer == null ? 'text-danger' : 'text-success'}"></span>
                        </p>
                        <a th:href="@{/qna/{id}(id=${qna.seq})}" class="btn btn-info">상세보기</a>
                    </div>
                </div>
            </div>

        </div>


        <style>
            .qna-main-container {
                margin-left: 30px;
                width:75%;

            }
            .qna-item {
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-top:20px;
            }
        </style>
    </th:block>




</body>
</html>