<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>
<h1>Customer List</h1>
    <form method="get" th:action="@{/adminPage/CustomerList}">
        <label for="year">가입 년도:</label>
        <select id="year" name="year">
            <option value="">모두</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <button type="submit">필터</button>
    </form>
    <br>
    <a href="/adminPage/adminMain">돌아가기</a>
    <table>
        <tr>
            <!--<th>id</th>-->
            <th>username</th>
            <th>displayName</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
            <th>address2</th>
            <th>age</th>
            <th>gender</th>
            <th>createdAt</th>
            <th>updatedAt</th>
        </tr>

        <tr th:each="member : ${members}">
            <!--<td th:text="${member.id}"></td>-->
            <td th:text="${member.username}"></td>
            <td th:text="${member.displayName}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.phone}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.address2}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.createdAt}"></td>
            <td th:text="${member.updatedAt}"></td>
            <td>
                <a th:href="@{/adminPage/CustomerModify(id=${member.id})}">수정</a>
            </td>
        </tr>
</table>
</body>
</html>
